/* CSS3 / Browser specific CSS */

#header  { -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5); }

#footer, .button  { text-shadow: 0 -1px 0 #000; }
#main .section .content.blog li a, .nav-entries a, .post-entries a, .wp-pagenavi span.extend, .wp-pagenavi span.pages  { text-shadow: 1px 1px 0 #fff; }
#main .section .content.blog li a  { -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#feature .info li a, #main .section .content.contact ol.forms input.txt, #main .section .content.contact ol.forms textarea, .widget input.s, #commentform input.txt, #commentform textarea  { -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.button, .button:visited, .reply a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid rgba(0,0,0,.25); border-bottom-color: rgba(0,0,0,.35); }
.wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover  { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.button:hover, .reply a:hover { opacity:0.9; }

#tabs { border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover { border-top-right-radius:3px; border-top-left-radius:3px; -moz-border-radius-topright:3px;	-moz-border-radius-topleft:3px;-webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius:3px; }
#TB_window  { border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px; }
#TB_title  { border-top-right-radius:10px; border-top-left-radius:10px; -moz-border-radius-topright:10px;	-moz-border-radius-topleft:10px;-webkit-border-top-right-radius: 10px; -webkit-border-top-left-radius:10px; }